<!DOCTYPE html>
<html>
<head>
    <title> Bruincare </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='ucla.png') }}">
    <!-- Include any necessary stylesheets or scripts -->
</head>

<body>

<header class = "header">
    <div class = "headerbar_container">
        <a href = "/" class = "site-name">
            <!-- <img src = "{{ url_for('static', filename = 'CAPS_Logo.png') }}" height = "70", width = "780" alt = "UCLA Counseling and Psychological Center"> -->
            <img src = "{{ url_for('static', filename = 'CAPS_Logo.png') }}" height = "70", width = "780" alt = "UCLA Counseling and Psychological Center">
        </a>
    </div>
</header>

<main class = "main">
    <main class = "container">
        <img src="{{ url_for('static', filename = 'CAPS_Cover.png') }}" alt="Description of the image">
        <!-- <header class = "banner"> -->
            <h1 class = "custom-font"> <center> Consultation Preparation Notes </center>  </h1>

    <div class="user-details">
        <p><strong>Name:</strong> {{ full_name }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Bruin ID:</strong> {{ bruin_id }}</p>
        <p><strong>Insurance Plan:</strong> {{ insurance_plan }}</p>
    </div>

    <div class="chat-summary">
    <h2 >Chat Summary</h2>
    {{ summarized_history|safe }}
    </div>

    <div class="severity-score">
    <h2> Severity Score (1-4) </h2>
    {{ severity_score|safe }}
    </div>

     <div class="chat-history">
      <h2> Full Initial Screening Chat History </h2>
        {{ chat_history|safe }}
    </div>

    <div class="survey-link">
      <h2> Fill Out the Bruincare Research Survey! </h2>
         <p> Please go to the <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7LDsE4JEtxlKZkMDtlxatUDz3vlFaokrDlVgJ0lGdL7H0_A/viewform?usp=sf_link" target="_blank">Bruincare Research Survey</a> and share your thoughts, opinions, and experience with the platform.</p>
        <center> <button type = "button" onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSd7LDsE4JEtxlKZkMDtlxatUDz3vlFaokrDlVgJ0lGdL7H0_A/viewform?usp=sf_link', '_blank')" class = "submit-button"> Take the Bruincare Research Survey </button> </center>
    </div>

    </main>

    <!-- THE BOTTOM FOOTER SECTION -->
<footer class = "footer">
    <p class = "footer-font"> <center> 2024 Bruincare for CAPS (AI Mental Health Assistant) -- Anish Dulla. All rights reserved. </center> </p>
</footer>

</body>
</html>

