<!DOCTYPE html>
<html>
<head>
  <title> Bruincare </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'ucla.png') }}">
</head>

<body>


<header class = "header">
    <div class = "headerbar_container">
        <a href = "/" class = "site-name">
            <img src = "{{ url_for('static', filename = 'CAPS_Logo.png') }}" height = "70", width = "780" alt = "UCLA Counseling and Psychological Center">
        </a>
    </div>
</header>

<nav class="navbar">
  <ul class="nav-links">
    <li><a href="/">Interface</a></li>
    <li><a href="/overview">Overview</a></li>
    <li><a href="/demo">Demo</a></li>
  </ul>
</nav>

<main class = "main">
    <div class = "container">
        <img src="{{ url_for('static', filename = 'CAPS_Cover.png') }}" alt="Description of the image">
        <!-- <header class = "banner"> -->
            <h1 class = "custom-font"> <center> Bruincare </center>  </h1>
    <p class= "type-text-font"> Bruincare is an experimental AI-based product designed to assist CAPS in the consultation and triage process. To begin, share your concerns and/or changes in emotional well-being to prompt conversation with Bruincare. Continue conversation until you have expressed yourself and sufficiently answered prompted questions. Personal information and conversations with Bruincare are kept secure and confidential between only the user and provider. </p>

        <form method="POST">
        <div class = "row">
                <input class = "user-info"  type="text" name = "full_name" placeholder="Full Name">
                <input class = "user-info" type="text" name = "bruin_id" placeholder="Bruin ID #">
            </div>
        <div class = "row">
                <input class = "user-info"  type="text" name = "email" placeholder="Email">
                <input class = "user-info" type="text" name = "insurance_plan" placeholder="Insurance Plan">
            </div>

        <br>
        <br>

    <div class="textarea-container">
        <textarea id="text_input" name="text_input" rows="5" cols="50" placeholder = "Please share your thoughts and feelings regarding your emotional well-being or any concerns you may have. This will help us better understand your mental health needs as we prepare for a consultation."></textarea>
        <button type="submit" name="button_text" value="submit" class="icon-button">
            <img src="{{ url_for('static', filename = 'send_icon.png') }}" alt="Send" />
        </button>
    </div>
    <input type="hidden" id="history" name="history" value="{{ chat_history }}">
</form>
<br>

        <div class="blue-outline-box">
            <p class = "custom-font2"> <strong> IF THIS IS A LIFE THREATENING EMERGENCY, CALL 9-1-1 OR GO TO YOUR NEAREST HOSPITAL EMERGENCY ROOM.  </strong> </p>
        </div>

</main>



<!-- THE BOTTOM FOOTER SECTION -->
<footer class = "footer">
    <p class = "footer-font"> <center> 2024 Bruincare for CAPS (AI Mental Health Assistant) -- Anish Dulla. All rights reserved. </center> </p>
</footer>

</body>
</html>